hs_err_pid6080.log
replay_pid6080.log
lib/__pycache__/life.cpython-39.pyc
lib/__pycache__/math2.cpython-39.pyc
lib/__pycache__/wall.cpython-39.pyc
__pycache__/main.cpython-38.pyc
lib/__pycache__/config.cpython-39.pyc
lib/__pycache__/net.cpython-39.pyc
lib/__pycache__/sensor.cpython-39.pyc
__pycache__/main.cpython-39.pyc
lib/__pycache__/__init__.cpython-39.pyc
lib/__pycache__/test.cpython-39.pyc
lib/__pycache__/__init__.cpython-38.pyc
lib/__pycache__/config.cpython-38.pyc
lib/__pycache__/life.cpython-38.pyc
lib/__pycache__/math2.cpython-38.pyc
lib/__pycache__/net.cpython-38.pyc
lib/__pycache__/sensor.cpython-38.pyc
lib/__pycache__/wall.cpython-38.pyc
lib/__pycache__/manager.cpython-38.pyc
lib/__pycache__/gui.cpython-39.pyc
lib/__pycache__/manager.cpython-39.pyc
lib/__pycache__/collisions.cpython-38.pyc
lib/__pycache__/gui.cpython-38.pyc
lib/__pycache__/collisions.cpython-39.pyc
env.rar
lib/__pycache__/autoterrain.cpython-39.pyc
main.py
lib/__pycache__/creature.cpython-39.pyc
lib/__pycache__/object.cpython-39.pyc
lib/__pycache__/plant.cpython-39.pyc
lib/__pycache__/meat.cpython-39.pyc
lib/__pycache__/rock.cpython-39.pyc
saves/Sim02/836.7.json
saves/Sim02/857.8.json
saves/Sim02/938.7.json
saves/Sim02/1046.9.json
saves/Sim02/1088.1.json
saves/Sim02/1942.9.json
saves/Sim02/1993.7.json
saves/Sim02/2008.3.json
saves/Sim02/2427.4.json
saves/Sim02/saves.json
saves/Sim04/553.3.json
saves/Sim04/saves.json
saves/Simulation03/1.1.json
saves/Simulation03/saves.json
saves/SimWorld/5.8.json
saves/SimWorld/36.2.json
saves/SimWorld/109.2.json
saves/SimWorld/246.3.json
saves/SimWorld/292.1.json
saves/SimWorld/saves.json
saves/SimWorld05/32.0.json
saves/SimWorld05/saves.json
test0.py
saves/NewWorld01/138.8.json
saves/NewWorld01/saves.json
saves/Planet01/0.8.json
saves/Planet01/saves.json
saves/Planet01/0.8.json
saves/Planet01/saves.json
saves/World03/7.7.json
saves/World03/15.1.json
saves/World03/saves.json
saves/Planet01/0.8.json
saves/Planet01/saves.json
