hs_err_pid6080.log
replay_pid6080.log
lib/__pycache__/life.cpython-39.pyc
lib/__pycache__/math2.cpython-39.pyc
lib/__pycache__/wall.cpython-39.pyc
__pycache__/main.cpython-38.pyc
lib/__pycache__/config.cpython-39.pyc
lib/__pycache__/net.cpython-39.pyc
lib/__pycache__/sensor.cpython-39.pyc
__pycache__/main.cpython-39.pyc
lib/__pycache__/__init__.cpython-39.pyc
lib/__pycache__/test.cpython-39.pyc
lib/__pycache__/__init__.cpython-38.pyc
lib/__pycache__/config.cpython-38.pyc
lib/__pycache__/life.cpython-38.pyc
lib/__pycache__/math2.cpython-38.pyc
lib/__pycache__/net.cpython-38.pyc
lib/__pycache__/sensor.cpython-38.pyc
lib/__pycache__/wall.cpython-38.pyc
lib/__pycache__/manager.cpython-38.pyc
lib/__pycache__/gui.cpython-39.pyc
lib/__pycache__/manager.cpython-39.pyc
lib/__pycache__/collisions.cpython-38.pyc
lib/__pycache__/gui.cpython-38.pyc
lib/__pycache__/collisions.cpython-39.pyc
env.rar
lib/__pycache__/autoterrain.cpython-39.pyc
main.py
lib/__pycache__/creature.cpython-39.pyc
lib/__pycache__/object.cpython-39.pyc
lib/__pycache__/plant.cpython-39.pyc
saves/Sim02/836.7.json
saves/Sim02/saves.json
saves/SimWorld/5.8.json
saves/SimWorld/36.2.json
saves/SimWorld/109.2.json
saves/SimWorld/246.3.json
saves/SimWorld/292.1.json
saves/SimWorld/saves.json
lib/__pycache__/rock.cpython-39.pyc
test0.py
